# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain generated content.
files/
sites/*/files
sites/*/private

# Ignore default text files
docroot/robots.txt
docroot/CHANGELOG.txt
docroot/COPYRIGHT.txt
docroot/INSTALL*.txt
docroot/LICENSE.txt
docroot/MAINTAINERS.txt
docroot/UPGRADE.txt
docroot/README.txt
docroot/sites/all/README.txt
docroot/sites/all/modules/README.txt
docroot/sites/all/themes/README.txt

# Ignore everything but the "sites" folder ( for non core developer ), except the profiles directory
docroot/.htaccess
docroot/web.config
docroot/authorize.php
docroot/cron.php
docroot/index.php
docroot/install.php
docroot/update.php
docroot/xmlrpc.php
docroot/includes
docroot/misc
docroot/modules
docroot/scripts
docroot/themes


#ignore the drupal default profiles
docroot/profiles/minimal
docroot/profiles/standard
docroot/profiles/testing

#ignore the site settings and uploaded files
docroot/sites/default

#ignore the contrib modules
docroot/sites/all/modules/contrib


#ignore the contrib themes
docroot/sites/all/themes/contrib

#ignore Mac .DS_Store files
.DS_Store


